<div class="jumbotron text-dark bg-light p-4 text-center">
  <h2 class="card-header"> Task </h2>
  <h3 class="task pt-3">
    <%= @task.name %>
    <%= @task.event_id %>
  </h3>
  <hr class="my-4">
  <p>
    <b><u> 
    Description:
    </u></b>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. 
  </p>
  <%= render 'expenses/index' %>
  <p class="lead">
    <%= link_to 'Add Expense', new_event_task_expense_path(@event, @task),class:"btn btn-primary" %>
    <%= link_to 'Back', @event,class:"btn btn-primary" %>
  </p>
</div>