<div class="jumbotron text-dark bg-light p-4 text-center task-details-card card">
  <h2 class="card-header"> Task </h2>
  <h3 class="task pt-3">
    <%= @task.name %>
  </h3>
    <% if @task.completed %>
      <h4 class="text-success"> Completed </h4> 
    <% else %>
      <h4 class="text-warning"> Incomplete</h4>
    <% end %>
  <hr />
  <p> 
    Deadline:- 
    <% if !!@task.deadline %>
      <%= @task.deadline.strftime("%d-%m-%y: %H:%M") %> <br />
      <%= link_to 'Change deadline', [@event, @task,:form_deadline],class:"btn btn-primary mt-3" %>
    <% else %>
      Not Scheduled <br/>
    <%= link_to 'Add deadline', [@event, @task,:form_deadline],class:"btn btn-primary mt-3" %>
    <% end %>
  </p>
  <p> 
    Event:- 
    <%= @event.name %>
  </p>
  <% if !!@task.user_id %>
    <h6 class="text-primary">
      Assigned to: <%= User.find(@task.user_id).name %>  
    </h6> 
  <% end %>
  <%# Check User is valid admin or not %>
  <% if current_user.id == Event.find(@task.event_id).user_id %>
    <% if !@task.self_assign %>
      <p>
        <%= button_to 'Assign Self', [@event, @task,:self_assign], method: :get,class:"btn btn-warning" %>
      </p>
      <% else %>
        <p>
          <%= link_to 'Remove Self', [@event, @task,:self_assign],class:"btn btn-primary mt-3" %>
        </p>
    <% end %>
  <% end %>
  <p> 
    Created at:- 
    <%= @task.created_at.strftime("%d-%m-%y") %>
  </p>
  <p> 
    Last Updated at:- 
    <%= @task.updated_at.strftime("%d-%m-%y") %>
  </p>
  <% if !@task.self_assign %>
    <% if !!@task.user_id %>
      <h6 class="text-primary"> Assigned to: <%= User.find(@task.user_id).name %>  </h6> 
      <p>
        <%= button_to 'Deallocate', [@event, @task,:deallocate_user], method: :get,class:"btn btn-warning" %>
      </p>
    <% else %>
      <p>
        <%= link_to 'Allocate User', [@event, @task,:allocate],class:"btn btn-primary mt-3" %>
      </p>
    <% end %>
  <% end %>
  <%= render 'tasks/task_completed?', task:@task %>
<%= link_to 'Back', @event,class:"btn btn-dark btn-back" %>
</div>
<hr />
  <%= render 'expenses/index' %>