<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <%= render 'alerts/alert_multiply_msg', error_messages: @user %>  
  <% end %>
  <div class="card">
    <h2> Sign Up </h2> 
    <div class="form-group">
      <%= f.text_field :name,class:"form-control",placeholder:"Full Name" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder:"Enter gmail" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder:"New Password" %>
    </div>
    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-primary m-1 px-3" %>
    </div>
    <%= link_to "Already have an account? ", login_path %> 
  </div>
<% end %>