<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <% @data = @user %>
    <%= render 'alerts/alert_multiply_msg' %>  
  <% end %>
  <div class="card">
    <h2> Sign Up </h2> 
    <br />
    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <br />
    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <br />
    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <br />
    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>
    <br />
    <%= link_to "Already have an account? ", login_path %> 
  </div>
<% end %>