<div class="jumbotron text-dark bg-light p-4 text-center card event-details-card">
  <h2 class="card-header"> Event </h2>
  <h3 class="event pt-3">
    <%= @event.name %>
  </h3>
  <p> 
    Total Expenses:- 
    <%= @total_expenses %>
  </p>
  <p> 
    Created at:- 
    <%= @event.created_at.strftime("%d-%m-%y") %>
  </p>
  <p> 
    Last Updated at:- 
    <%= @event.updated_at.strftime("%d-%m-%y") %>
  </p>
  <p>
    <%= link_to 'Edit', edit_event_path(@event),class:"btn btn-primary m-1" %> 
  </p>
</div>
<hr/>
<div class="d-flex">
  <div class="item-1 p-2 flex-fill bd-highlight border border-right"> 
    <%= render 'tasks/index' %>
  </div>
    <div class="item-1 p-2 flex-fill bd-highlight border border-left"> 
      <%= render 'expenses/index' %>
    </div>
</div>