<h1 class="text-light bg-secondary p-2 text-center">Expenses List</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Expense Name </th>
      <th scope="col"> Amount </th>
      <th scope="col"> Task_ID </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.task_id %></td>
        <td><%= link_to 'Show', [@event, @task, expense],class:"btn btn-primary" %></td>
        <% if true %>
          <td><%= link_to 'Edit', edit_event_task_expense_path(@event, @task, expense),class:"btn btn-primary" %></td>
        <% end %>
        <td><%= link_to 'Delete', event_task_expense_path(@event,@task, expense), method: :delete, data: { confirm: 'Are you sure want to delete this task?' },class:"btn btn-danger" %></td>
    <% end %>
  </tbody>
</table>

<br>

