<%= form_with(model: [@event, @expense]) do |f| %>
  <% if @expense.errors.any? %>
    <%= render 'alerts/alert_multiply_msg', error_messages: @expense %>
  <% end %>
  <div class="card">
    <h3> Allocate Task </h3>
    <div class="field form-group">
      <%= f.label :'Select Task' %>
      <%= f.select :task_id, @tasks.map{ |u| [u.name, u.id]} %>
    </div>
    <p>
      <%= button_to 'Submit', root_path, method: :get, class:"btn btn-primary m-1" %>
    </p>
    <%= link_to 'Back', @event,class:"btn btn-dark btn-back" %>
  </div>
<% end %>