<div class="jumbotron text-dark bg-light p-4 text-center card expense-details-card">
  <h2 class="card-header"> Expense </h2>
  <h3 class="task pt-3">
    <%= @expense.name %>
  </h3>
  <h5>
    Amount: <%= @expense.amount %>
  </h5>
  <p> 
    Task:- 
    <%= @task.name %>
  </p>

  <p> 
    Created at:- 
    <%= @expense.created_at.strftime("%d-%m-%y") %>
  </p>
  <p> 
    Last Updated at:- 
    <%= @expense.updated_at.strftime("%d-%m-%y") %>
  </p>
  <hr />
  <p class="lead">
    <%= link_to 'Edit', edit_event_task_expense_path(@event, @task, @expense),class:"btn btn-primary" %> &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back', [@event, @task],class:"btn btn-dark" %>
  </p>
</div>