<div class="jumbotron text-dark bg-light p-4 text-center card expense-details-card">
  <h2 class="card-header"> Expense </h2>
  <h3 class="task pt-3">
    <%= @expense.name %>
  </h3>
  <h5>
    Amount: <%= @expense.amount %>
  </h5>
  <% if !!@expense.task_id %>
    <h6 class="text-primary"> Belongs to Task: <%= Task.find(@expense.task_id).name %>  </h6> 
    <p>
      <%= button_to 'Deallocate Task', [@event, @expense,:deallocate_task], method: :get,class:"btn btn-warning" %>
    </p>
  <% end %>
  <% if !@expense.task_id %>
    <p>
      <%= link_to 'Allocate Task', [@event, @expense,:allocate_task],class:"btn btn-primary mt-3" %>
    </p>
  <% end %>
  <p> 
    Created at:- 
    <%= @expense.created_at.strftime("%d-%m-%y") %>
  </p>
  <p> 
    Last Updated at:- 
    <%= @expense.updated_at.strftime("%d-%m-%y") %>
  </p>
  <hr />
  <p class="lead">
    <%= link_to 'Edit', edit_event_expense_path(@event, @expense),class:"btn btn-primary" %> &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back', @event,class:"btn btn-dark" %>
  </p>
</div>