<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid navbar-container">
    <%= image_tag "navbar_logo.png", class: "navbar-logo navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
        <% if logged_in %>
          <li class="nav-item">
            <%= link_to 'Event', events_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, events_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class:"nav-link active btn btn-danger" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign up', signup_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class:"nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>